/*-------------------pages colors------------------*/
:root {
  --basic-link-color: #2196f3;
  --basic-headers-color: #212121;
  --basic-content-color: #757575;
  --backgrouns-secondary-color: #2f303a;
  --primary-background-color: #f5f4fa;
}
/*-------------------ALL PAGES PROPERTIES-------------------*/
body {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
}
a {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
/*-------------------header-------------------*/
.header {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: auto;
  padding: 24px 15px;
}
/*-------------------logo & footer logo-------------------*/
.logo {
  color: #000000;

  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  display: inline-block;
  margin-right: 93px;
}
.logo span {
  color: var(--basic-link-color);
}
.footer .logo {
  color: #ffffff;
  margin: 0 0 20px 0;
}
/*-------------------navigation-------------------*/
.navigation {
  display: flex;
}
.navigation li:not(:last-child) {
  margin-right: 50px;
}
.adress-container {
  display: flex;
  margin-left: auto;
}
.adress-container a:not(:last-child) {
  margin-right: 50px;
}
.link-navigation {
  color: var(--basic-headers-color);
}
.link-navigation:hover {
  color: var(--basic-link-color);
}
.link-navigation:focus {
  color: var(--basic-link-color);
}
.link-adress {
  display: block;
  color: var(--basic-content-color);
}
.link-adress:hover,
.link-adress:focus,
.accent.link-navigation {
  color: var(--basic-link-color);
}

/*-------------------buttons-------------------*/
button {
  color: var(--basic-headers-color);
  background-color: #ffffff;

  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;

  margin-right: 8px;
  padding: 6px 22px;
  cursor: pointer;
}
button.primery {
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-right: 0;
}
button:active,
button:hover,
button:focus,
button.primery {
  color: #ffffff;
  background-color: var(--basic-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*-------------------footer-------------------*/
.link-footer {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;

  display: block;
  /* margin-left: 15px; */
  margin-bottom: 9px;
}

.link-footer.adress {
  color: #ffffff;
}
.footer {
  background-color: var(--backgrouns-secondary-color);

  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 15px;
}
/*-------------------MAIN PROPERTIES-------------------*/

/*-------------------hero-------------------*/
.hero {
  color: #ffffff;
  background-color: var(--backgrouns-secondary-color);

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  margin: auto;
  padding: 200px 0;
}
.hero h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}
/*-------------------hidden <h2> header-------------------*/
.visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*-------------------section skills-------------------*/
.skills-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 94px 15px;
}
.skills-list .skills-item {
  width: calc((100%-90px) / 4);
  margin-right: 30px;
}
.skills-item:last-child {
  margin-right: 0px;
}

.skills h3 {
  color: var(--basic-headers-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.skills p {
  color: var(--basic-content-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
/*-------------------our works & teams sections-------------------*/
.works,
.team {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}
.work-list,
.team-list {
  display: flex;
  justify-content: space-between;
  padding: 50px 15px 0 15px;
}
.work-list img {
  display: block;
}
.team-list .team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team {
  background-color: var(--primary-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-header {
  color: var(--basic-headers-color);

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/*-------------------team cards-------------------*/
.team h3 {
  color: var(--basic-headers-color);

  font-size: 16px;
  line-height: 1.18;
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
}
.team p {
  color: var(--basic-content-color);

  font-weight: 400;

  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}
/*-------------------gallery of portfolio.html-------------------*/
.gallery h2 {
  color: var(--basic-headers-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-top: 20px;
  margin-left: 24px;
}
.gallery p {
  color: var(--basic-content-color);

  font-size: 16px;
  line-height: 1.87;

  margin-top: 4px;
  margin-bottom: 20px;
  margin-left: 24px;
}
.gallery {
  width: 1200px;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
}
.buttons-list {
  display: flex;
  justify-content: center;
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 56px;
  /* padding-left: 15px;
  padding-right: 15px; */
}

.gallery-item {
  width: 370px;
  border: 1px solid #eeeeee;
  margin-right: 30px;
  margin-bottom: 30px;
}
.gallery-item:nth-child(3n) {
  margin-right: 0;
}
.gallery-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
